body {
  padding: 0;
  margin: 0.5;
  background-color: rgb(3, 74, 141);
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

.page-header {
  color: rgb(255, 255, 255);
}
.main-page-header {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: -0.4em;
  background-color: rgb(11, 149, 241);
  border-bottom: 1.4px solid rgb(255, 255, 255);
}

img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 0;
  height: auto;
  max-width: fit-content;
  background-color: rgba(245, 245, 245, 0);
}
.input-field {
  display: grid;
  justify-content: center;
  margin: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

label {
  display: flex;
  padding: 0;
  margin: auto;
  justify-content: center;
  font-size: clamp(10px, 2vw, 50px);
  white-space: nowrap;
  font-weight: bold;
}

input {
  text-align: center;
}

#form-PI {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#form-outer-diameter {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#form-length-of-the-cilinder {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*---DROPDOWN UNIT INPUT BUTTON---*/
#dropdown-section {
  display: flex;
  position: relative;
  align-items: center;
  justify-items: center;
}

#dropdown-btn {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#unit-dropdown {
  background-color: aqua;
  position: relative;
  display: flex;
  justify-content: right;
  text-align: center;
  align-items: center;
}

#dropdown-options {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

#dropdown-options a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-options a:hover {
  background-color: #bebebe;
}

#unit-dropdown:hover #dropdown-options {
  display: block;
}

#unit-dropdown:hover #dropdown-btn {
  background-color: #bebebe;
}

/*---SUBMIT BUTTON---*/

#submit-button {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  background-color: rgb(0, 123, 223);
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 14px;
  border: 1.5px solid black;
  filter: drop-shadow(0px 4px 2px rgba(26, 26, 26, 0.568));
  margin-top: 1em;
  margin-bottom: 1em;
}

#submit-button:hover {
  background-color: rgb(0, 97, 223);
}

#output-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.8em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 14px;
  border: 1.5px solid black;
  overflow: hidden;
  width: clamp(2em, 20vw, 15em);
  font-weight: bold;
}
